/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Roboto Medium";
  src: url("./assets/font/roboto/Roboto-Medium.ttf") format('truetype');
}
@font-face {
  font-family: "Roboto Regular";
  src: url("./assets/font/roboto/Roboto-Regular.ttf") format('truetype');
}
@font-face {
  font-family: "Roboto Light";
  src: url("./assets/font/roboto/Roboto-Light.ttf") format('truetype');
}
@font-face {
  font-family: "Roboto Thin";
  src: url("./assets/font/roboto/Roboto-Thin.ttf") format('truetype');
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
mat-sidenav{
  width: 260px;
  height: 100vh;
}
mat-sidenav-content{
  width: calc(100% - 260px);
  height: 100vh!important;
}
.spacer{
  flex: 1 1 auto;
}
